<%- include("../partials/header") %> 
<% if (doctors) {%>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Faculty</th>
                </tr>
            </thead>
            
            <tbody>
                <% for(let i = 0; i < doctors.length; i++) { %>
                    <tr>
                        <th><%= doctors[i].ID %> </th>
                        <td><%= doctors[i].Name %></td>
                        <td><%= doctors[i].Faculty %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<% } else { %>
    <div class="jumbotron">Không tìm thấy bài giảng phù hợp</div>
    <a href="/courses" class="btn btn-primary">Trở về</a>
<% } %>
<%- include("../partials/footer") %> 