<%- include("../partials/header") %>
    <!-- <% if(Error){ %>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%=     Error  %> </div>
<% } %> -->
    <div class="container">
        <main role="main" class="pb-3" style="margin-top: 100px;">
            <h1>Xem danh sách chẩn đoán bệnh</h1>
            <form action="/BacSi/DsChanDoanBenh" method="POST">
                <div class="form-group">
                    <label>Bệnh nhân</label>
                    <select class="form-control" name="MaBenhNhan">
                        <% for ( var i=0; i < ListBenhNhan.length; i++ ) { %>
                            <option value="<%=ListBenhNhan[i].MaBenhNhan%>">
                                <%= ListBenhNhan[i].HoVaTenLot + " " + ListBenhNhan[i].Ten %>
                            </option>
                            <% } %>
                    </select>
                    <label>Mã bệnh</label>
                    <select class="form-control" name="MaBenh">
                        <% for ( var i=0; i < ListMaBenh.length; i++ ) { %>
                            <option value="<%=ListMaBenh[i].MaBenh%>">
                                <%= ListMaBenh[i].TenBenh %>
                            </option>
                            <% } %>
                    </select>
                </div>
                <button class="btn btn-primary w-100">Submit</button>
            </form>
        </main>

        <%if (DsChanDoanBenh) { %>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Thời gian ra kết quả</th>
                            <th>Thời gian khám bệnh</th>
                            <th>Mã Nhân viên</th>
                            <th>Mã bệnh nhân</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(let i=0; i < DsChanDoanBenh[0].length; i++) { %>
                            <tr>
                                <th>
                                    <%= formatDate(DsChanDoanBenh[0][i].ThoiGianRaKQ) %>
                                </th>
                                <td>
                                    <%= formatDate(DsChanDoanBenh[0][i].ThoiGianKhamBenh) %>
                                </td>
                                <td>
                                    <%= DsChanDoanBenh[0][i].MaNhanVien %>
                                </td>
                                <td>
                                    <%= DsChanDoanBenh[0][i].MaBenhNhan %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <% } %>
    </div>

    <%- include("../partials/footer") %>
        <%- include("../partials/ending") %>