<%- include("../partials/header") %>
    <% if(Flag){ %>
        <div class="alert alert-success">
            <strong>Success!</strong> Bạn đã đăng ký đưa ra kết quả bệnh nhân thành công
        </div>
        <% } %>
            <!-- <% if(Error){ %>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%=     Error  %> </div>
 <% } %> -->
            <div class="container">
                <main role="main" class="pb-3" style="margin-top: 100px;">
                    <h1>Kết quả khám bệnh </h1>
                    <form action="/BacSi/DuaRaKQ" method="POST">
                        <div class="form-group">
                            <label>Tên bệnh nhân</label>
                            <select class="form-control" name="MaBenhNhan">
                                <% for ( var i=0; i < ListBenhNhan.length; i++ ) { %>
                                    <option value="<%=ListBenhNhan[i].MaBenhNhan%>">
                                        <%= ListBenhNhan[i].HoVaTenLot + " " + ListBenhNhan[i].Ten %>
                                    </option>
                                    <% } %>
                            </select>
                            <label>Thời gian khám bệnh</label>
                            <select class="form-control" name="ThoiGianKhamBenh">
                                <% for ( var i=0; i < ListThoiGianKhamBenh.length; i++ ) { %>
                                    <option value="<%=ListThoiGianKhamBenh[i]%>">
                                        <%= ListThoiGianKhamBenh[i]%>
                                    </option>
                                    <% } %>
                            </select>
                            <label>Thời gian ra kết quả</label>
                            <input type="text" name="ThoiGianRaKQ" id="time" class="form-control">
                        </div>
                        <button class="btn btn-primary w-100">Submit</button>
                    </form>
                </main>

                <%- include("../partials/footer") %>
                    <%- include("../partials/ending") %>
                        <script>
                            const formatedTimestamp = () => {
                                const d = new Date()
                                const date = d.toISOString().split('T')[0];
                                const time = d.toTimeString().split(' ')[0];
                                return `${date} ${time}`
                            }
                            var date = new Date()
                            document.getElementById("time").value = formatedTimestamp()
                        </script>