<%- include("../partials/header") %>
    <% if(Flag){ %>
        <div class="alert alert-success">
            <strong>Success!</strong> Bạn đã tạo chỉ số cho xét nghiệm thành công
        </div>
        <% } %>
            <!-- <% if(Error){ %>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%=     Error  %> </div>
<% } %> -->
            <div class="container">
                <main role="main" class="pb-3" style="margin-top: 100px;">
                    <h1>Kết quả xét nghiệm</h1>
                    <form action="/BacSi/TaoChiSo" method="POST">
                        <div class="form-group">
                            <label>Chọn xét nghiệm</label>
                            <select class="form-control" name="XetNghiem">
                                <% for ( var i=0; i < XetNghiem.length; i++ ) { %>
                                    <option value="<%=JSON.stringify(XetNghiem[i])%>">
                                        <% console.log(XetNghiem[i])%>
                                        <%= XetNghiem[i].TenXetNghiem + " - " + XetNghiem[i].ThoiGianKhamBenh %>
                                    </option>
                                    <% } %>
                            </select>

                            <label>Loại chỉ số xét nghiệm </label>
                            <select class="form-control" name="MaChiSoXetNghiem">
                                <% for ( var i=0; i < MaChiSoXetNghiem.length; i++ ) { %>
                                    <option value="<%=MaChiSoXetNghiem[i].MaChiSoXetNghiem%>">
                                        <%= "Mã chỉ số xét nghiệm " + MaChiSoXetNghiem[i].MaChiSoXetNghiem + " - Ngưỡng nhỏ nhất: " + MaChiSoXetNghiem[i].NguongMin + " - Ngưỡng Lớn Nhất: " + MaChiSoXetNghiem[i]. NguongMax%>
                                    </option>
                                    <% } %>
                            </select>

                            <label>Tên chỉ số</label>
                            <input type="text" name="TenChiSo" class="form-control">
                            
                            <label>Kết quả</label>
                            <input type="number" name="KetQua" class="form-control">
                        </div>
                        <button class="btn btn-primary w-100">Submit</button>
                    </form>
                </main>

                <%- include("../partials/footer") %>
                    <%- include("../partials/ending") %>