<%- include("../partials/header") %>
    <% if(Flag){ %>
        <div class="alert alert-success">
            <strong>Success!</strong> Bạn đã tạo phim thành công
        </div>
        <% } %>
            <!-- <% if(Error){ %>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%=     Error  %> </div>
<% } %> -->
            <div class="container">
                <main role="main" class="pb-3" style="margin-top: 100px;">
                    <h1>Chỉ định chụp phim</h1>
                    <form action="/BacSi/TaoPhim" method="POST">
                        <div class="form-group">
                            <label>Nhân viên</label>
                            <select class="form-control" name="KhamBenh">
                                <% for ( var i=0; i < KhamBenh.length; i++ ) { %>
                                    <option value="<%=JSON.stringify(KhamBenh[i])%>">
                                        <%= KhamBenh[i].MaBenhNhan + " - " + KhamBenh[i].HoVaTenLot + " " + KhamBenh[i].Ten + " - " + KhamBenh[i].ThoiGianKhamBenh%>
                                    </option>
                                    <% } %>
                            </select>
                            <label>Nhân viên thực hiện</label>
                            <select class="form-control" name="MaNhanVienThucHien">
                                <% for ( var i=0; i < ListNhanVien.length; i++ ) { %>
                                    <option value="<%=ListNhanVien[i].MaNhanVien%>">
                                        <%= ListNhanVien[i].HoVaTenLot + " " + ListNhanVien[i].Ten + " - " + ListNhanVien[i].MaNhanVien%>
                                    </option>
                                    <% } %>
                            </select>
                            <label>Thời gian thực hiện</label>
                            <input type="datetime-local" name="ThoiGianThucHien" class="form-control">
                        </div>
                        <button class="btn btn-primary w-100">Submit</button>
                    </form>
                </main>

                <%- include("../partials/footer") %>
                    <%- include("../partials/ending") %>