<%- include("../partials/header") %> 
<div class="container">
	<main role="main" class="pb-3" style="margin-top: 100px;">
		<form action="/BSQuanLy/findDoctor" method="POST">
			<div class="form-group">
				<label>Khoa điều trị</label>
				<select class="form-control" name="CaTruc[KhoaDieuTri]">
					<option value="*">Tất cả các khoa</option>
					<% if(KhoaDieuTri){
						KhoaDieuTri.forEach(element => {%>
								<option value = <%= element.MaKhoaDieuTri %> <% if (element.MaKhoaDieuTri == user.MaKhoaDieuTri) {%> selected <%}%>><%=element.TenKhoa%></option>
						<%});
					}%>
				</select>
				<label>NgayTruc</label>
				<input type = "date" class = "form-control" name="CaTruc[NgayTruc]" placeholder="Date" id="_today">
				<label>CaTruc</label>
				<select class="form-control" name="CaTruc[CaTruc]">
					<option value="*">Cả ngày</option>
					<option value="Buổi sáng">Buổi sáng</option>
					<option value="Buổi trưa">Buổi trưa</option>
					<option value="Buổi chiều">Buổi chiều</option>
					<option value="Buổi tối">Buổi tối</option>
				</select>
			</div>
			<button class="btn btn-primary w-100">Submit</button>
		</form>
		<% if(DSBacSi) { %>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Họ và tên lót</th>
								<th>Tên</th>
								<th>Email</th>
								<th>SĐT</th>
								<th>Giới tính</th>
								<th>Tên khoa</th>
							</tr>
						</thead>
						
						<tbody>
							<% for(let i = 0; i < DSBacSi.length; i++) { %>
								<tr>
									<th><%= DSBacSi[i].HoVaTenLot %> </th>
									<td><%= DSBacSi[i].Ten %></td>
									<td><%= DSBacSi[i].Email %></td>
									<td><%= DSBacSi[i].SDT %></td>
									<td><%= DSBacSi[i].GioiTinh %></td>
									<td><%= DSBacSi[i].TenKhoa %></td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
		<%}%>
	</main>
</div>
<%- include("../partials/footer") %> 

<%- include("../partials/ending") %>
