<%- include("../partials/header") %> 
<div class="container">
  <main role="main" class="pb-3" style="margin-top: 100px;">
    <h1>Trang Bệnh nhân</h1>
    <% if (isLoged) {%>
      <form action="/BenhNhan/DSThuoc" method="POST">
        <div class="form-group">
          <label>Khoa điều trị</label>
          <select class="form-control" name="Loai">
            <option value="All"> Tất cả các lần điều trị</option>
            <option value="Last">Ở lần điều trị gần nhất</option>
          </select>
        </div>
        <button class="btn btn-primary w-100">Submit</button>
      </form>
      <% if(kq){%>
        <div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Thời gian ra kết quả</th>
								<th>Thời gian khám bệnh</th>
								<th>Mã bác sĩ khám</th>
								<th>Mã bệnh nhân</th>
								<th>Mã thuốc</th>
								<th>Liều dùng</th>
								<th>Cách dùng</th>
								<th>Thời gian dùng</th>
							</tr>
						</thead>
						
						<tbody>
							<% for(let i = 0; i < kq.length; i++) { %>
								<tr>
									<th><%= kq[i].ThoiGianRaKQ %> </th>
									<td><%= kq[i].ThoiGianKhamBenh %></td>
									<td><%= kq[i].MaNhanVien %></td>
									<td><%= kq[i].MaBenhNhan %></td>
									<td><%= kq[i].MaThuoc %></td>
                  <td><%= kq[i].LieuDung %></td>
                  <td><%= kq[i].CachDung %></td>
                  <td><%= kq[i].ThoiGianDung %></td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
      <%}%>
		<%}%>
  </main>
</div>
<%- include("../partials/footer") %> 

<%- include("../partials/ending") %>
